body{
	background:url(../images/loginback.jpg);
	background-size: cover;
}
.form{
	text-align: center;
	margin-top: 200px;
	margin-right:300px;
	margin-left:700px;
	background-color: transparent;
}
#loim{
	length:300px;
	width:110px;
}